html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
}

.overflow {
  overflow-y: scroll;
  -ms-overflow-y: scroll;
  height: 100%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1 !important; /* Firefox */
}

.Toastify__toast.Toastify__toast--success {
  background: #d29d1b;
  color: black;
  border-radius: 5px;
  font-family: inherit;
}

.Toastify__close-button.Toastify__close-button--success {
  color: black;
}
